## Import libs and custom vars

In [71]:
import pandas as pd
import numpy as np

data_paths = {
    'result': 'dataset/results.csv',
    'shootouts': 'dataset/shootouts.csv'

}

<ul>
    <li>Ci sono alcuni nomi di squadre che sono cambiate nel tempo, uniformizza </li>
    <li>Shootouts è il db dei penalty, quindi bisogna manipolare il dataset per vedere chi vince alla fine quella partita</li>
</ul>

## Dataset Description

This dataset includes 42,483 results of international football matches starting from the very first official match in 1972 up to 2019. The matches range from FIFA World Cup to FIFI Wild Cup to regular friendly matches. The matches are strictly men's full internationals and the data does not include Olympic Games or matches where at least one of the teams was the nation's B-team, U-23 or a league select team.

In [16]:
data = {
    'results': pd.read_csv(data_paths['result']),
    'shootouts': pd.read_csv(data_paths['shootouts'])
}

## parte di analisi del dataset

In [123]:
data['results'].__len__()
print(data['results'].iloc[42482])

date             2021-08-01
home_team     United States
away_team            Mexico
home_score                1
away_score                0
tournament         Gold Cup
city              Las Vegas
country       United States
neutral               False
Name: 42482, dtype: object

In [135]:
for i in range(0, data['results'].__len__() - 1):
    # print("NOPE")

    if (data['results'].iloc[i]['date'] == data['shootouts'].iloc[0]['date'] and data['results'].iloc[i]['home_team'] == data['shootouts'].iloc[0]['home_team'] and data['results'].iloc[i]['away_team'] == data['shootouts'].iloc[0]['away_team']) is True:
        # print(  data['results'].iloc[i]['date'] == data['results'].iloc[0]['date'] , data['results'].iloc[i]['date'] , data['results'].iloc[0]['date'] )

        print(data['results'].iloc[i])
        print('=x='*10)
        print(data['shootouts'].iloc[0])
        break

date                  1967-08-22
home_team                  India
away_team                 Taiwan
home_score                     1
away_score                     1
tournament    Merdeka Tournament
city                Kuala Lumpur
country                 Malaysia
neutral                     True
Name: 6581, dtype: object
=x==x==x==x==x==x==x==x==x==x=
date         1967-08-22
home_team         India
away_team        Taiwan
winner           Taiwan
Name: 0, dtype: object

Il dataset presenta anche il db 'shootouts' che contiene i vincitori ai calci di rigore di partite finite in pareggio

In [152]:
dst_df = data['results'].copy()

res_len = data['results'].__len__()
sht_len = data['shootouts'].__len__()

# aggiungi una colonna al dataFrame che aggiorna con i risultati dei rigori

# print(a,b, data['shootouts'].max(), data['shootouts'].iloc[322])


for i in range(0, dst_df.__len__() - 1):

    # dst_df.iloc[i] = 
#     if (data['results'].iloc[i]['date'] == data['shootouts'].iloc[0]['date'] and data['results'].iloc[i]['home_team'] == data['shootouts'].iloc[0]['home_team'] and data['results'].iloc[i]['away_team'] == data['shootouts'].iloc[0]['away_team']) is True:
#         # print(  data['results'].iloc[i]['date'] == data['results'].iloc[0]['date'] , data['results'].iloc[i]['date'] , data['results'].iloc[0]['date'] )
#         dst_df = data['results']

#         print(data['results'].iloc[i])
#         print('=x='*10)
#         print(data['shootouts'].iloc[0])
#         break

Algeria

In [104]:
a = pd.merge(data['results'], data['shootouts'], on='date')
a['date'].min()

'1967-08-22'

In [83]:
home_teams = data['results']['home_team'].unique()
away_teams = data['results']['away_team'].unique()

print("home teams %d\naway teams %d" % (home_teams.__len__(), away_teams.__len__()))

home teams 308
away teams 306

In [97]:
if data['results']['date'] > '2000-01-25' is True:
    print(data['results']['date'])

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-97-364506a89ba5>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if data['results']['date'] > '2000-01-25' is True:

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Le squadre che hanno giocato in casa sono di più di quelle che hanno giocato precedentemente, controlliamo:

In [88]:
np.setdiff1d(home_teams, country_list) # Return the unique values in ar1 that are not in ar2.

array(['Abkhazia', 'Alderney', 'Andalusia', 'Arameans Suryoye', 'Artsakh',
       'Bahamas', 'Barawa', 'Basque Country', 'Bolivia', 'Bonaire',
       'British Virgin Islands', 'Brittany', 'Brunei', 'Burma',
       'Canary Islands', 'Cape Verde', 'Cascadia', 'Catalonia',
       'Cayman Islands', 'Central African Republic', 'Central Spain',
       'Chagos Islands', 'Chameria', 'China PR', 'Comoros', 'Congo',
       'Cook Islands', 'Corsica', 'County of Nice', 'Crimea',
       'Czech Republic', 'Czechoslovakia', 'DR Congo', 'Darfur',
       'Dominican Republic', 'East Timor', 'Ellan Vannin', 'England',
       'Falkland Islands', 'Faroe Islands', 'Felvidék', 'Frøya',
       'Galicia', 'Gambia', 'German DR', 'Gotland', 'Gozo', 'Găgăuzia',
       'Hitra', 'Iran', 'Iraqi Kurdistan', 'Isle of Wight', 'Ivory Coast',
       'Kabylia', 'Kernow', 'Kosovo', 'Kárpátalja', 'Laos', 'Macau',
       'Madrid', 'Manchukuo', 'Matabeleland', 'Menorca', 'Micronesia',
       'Moldova', 'Netherlands', 'Niger', 'North Korea',
       'North Macedonia', 'North Vietnam', 'Northern Cyprus',
       'Northern Ireland', 'Northern Mariana Islands', 'Occitania',
       'Orkney', 'Padania', 'Palestine', 'Panjab', 'Parishes of Jersey',
       'Philippines', 'Provence', 'Raetia', 'Republic of Ireland',
       'Republic of St. Pauli', 'Rhodes', 'Romani people', 'Russia',
       'Saare County', 'Saarland', 'Saint Helena', 'Saint Martin', 'Sark',
       'Scotland', 'Shetland', 'Silesia', 'Sint Maarten', 'Somaliland',
       'South Korea', 'South Ossetia', 'Sudan', 'Syria', 'Székely Land',
       'Sápmi', 'São Tomé and Príncipe', 'Tahiti', 'Tamil Eelam',
       'Tanzania', 'Tibet', 'Turks and Caicos Islands',
       'United Arab Emirates', 'United Koreans in Japan', 'United States',
       'United States Virgin Islands', 'Vatican City', 'Venezuela',
       'Vietnam', 'Vietnam Republic', 'Wales',
       'Wallis Islands and Futuna', 'Western Armenia', 'Western Isles',
       'Yemen DPR', 'Ynys Môn', 'Yorkshire', 'Yugoslavia', 'Zanzibar'],
      dtype=object)

In [31]:
print(res_view['home_team'].value_counts())


print(res_view['away_team'].value_counts())

Brazil           581
Argentina        557
Mexico           524
Germany          518
England          513
                ...
Kabylia            1
Madrid             1
Crimea             1
Romani people      1
Saint Helena       1
Name: home_team, Length: 308, dtype: int64
Uruguay          547
Sweden           539
England          516
Hungary          484
Paraguay         461
                ...
Central Spain      1
Surrey             1
Asturias           1
Andalusia          1
Malabo             1
Name: away_team, Length: 306, dtype: int64

In [18]:
data['shootouts'].head()

         date    home_team         away_team       winner
0  1967-08-22        India            Taiwan       Taiwan
1  1971-11-14  South Korea  Vietnam Republic  South Korea
2  1972-05-17     Thailand       South Korea  South Korea
3  1972-05-19     Thailand          Cambodia     Thailand
4  1973-07-26     Malaysia            Kuwait     Malaysia